@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
    min-height: 100vh;
    background: #1BB295;
}
form {
    padding: 30px;
    background: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 9px;
    box-shadow: 0 15px 12px rgba(0, 0, 0, 0.05);
}
form h2 {
    font-size: 30px;
    text-align: center;
    margin:0px 0 35px;
}
form .form-group {
    margin-bottom: 15px;
    position: relative;
}
form label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}
form input,form select {
    height: 50px;
    padding: 15px;
    width: 100%;
    font-size: 20px;
    outline: none;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #bfbfbf;
}